html {
  min-height: 100%;
}

body {
  min-height: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: #0F2027;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#2C5364), color-stop(#203A43), to(#0F2027));
  background: -webkit-linear-gradient(left, #2C5364, #203A43, #0F2027);
  background: -o-linear-gradient(left, #2C5364, #203A43, #0F2027);
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  text-transform: uppercase;
  background: #c21500;
  color: white;
  margin: 0;
  padding: 10px 28px;
  font-weight: normal;
}

input {
  background: white;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 50px;
  font-size: 20px;
  font-weight: 0.5px;
  padding-left: 25px;
  border: none;
  border-bottom: 1px solid #c21500;
  color: gray;
}

input:focus {
  background: #edf1f5;
  border: 3px solid #c21500;
  outline: none;
  color: #c21500;
}

span.todo-trash {
  margin-right: 10px;
  text-align: center;
  height: 50px;
  width: 0;
  opacity: 0;
  -webkit-transition: 0.3s;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}

i {
  cursor: pointer;
}

button {
  background-color: #c21500;
  border: 2px solid #c21500;
  color: white;
  padding: 8px 20px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  -o-transition-duration: 0.4s;
     transition-duration: 0.4s;
  cursor: pointer;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

button:hover {
  background-color: white;
  color: black;
  border: 2px solid #c21500;
}

#buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  text-align: center;
}

#todo {
  margin: 0 auto;
  -webkit-box-shadow: 0 0 1em black;
          box-shadow: 0 0 1em black;
  max-width: 400px;
  min-height: 100vh;
  background: white;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.7);
  overflow-x: hidden;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

#overlay .closeTips {
  position: absolute;
  top: 15px;
  right: 40px;
  font-size: 60px;
  color: #c21500;
  cursor: pointer;
}

#overlay li {
  padding: 8px;
  list-style-type: circle;
  font-size: 30px;
  color: #fff;
  display: block;
}

.todos {
  list-style-type: none;
  margin: 0;
  padding: 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.todos li {
  background: #f7f7f7;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
  font-size: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.todos li span.todo-text {
  padding: 0 8px;
}

.todos li:nth-child(2n) {
  background: #edf1f5;
}

.todos li:hover span.todo-trash {
  width: 50px;
  opacity: 1.0;
  margin-left: 5px;
}

.display {
  display: none;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}

.checked {
  color: gray;
  text-decoration: line-through;
}

.fa-pencil-alt {
  float: right;
}

.fa-trash-alt {
  color: #c21500;
}

.tips {
  position: relative;
  top: 20%;
  width: 100%;
  text-align: center;
  margin-top: 25px;
}

.display {
  display: none;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
  #todo {
    width: 100%;
    height: 100%;
  }
}
